# My Jupyter Notebook on IBM Watson Studio

## Tafadzwa Ronald Muzenda
Civil Engineer

_I am interested in data science because I see the potential that this field has already fufilled and still possesses for the future._

### Below is a code to print letters in a numbered list (beginning from 0)

In [5]:
blob = ["a", "b", "c", "d", "e", "f"]
for number, letter in enumerate(blob):
    print(number, letter)

0 a
1 b
2 c
3 d
4 e
5 f

### Table, numbered list, qoute in bold

| Sample | Cement 1 | Cement 2 |
| ------ | ------ | ------ |
| Paste flow | 200 | 180 |

1. First
2. Second
3. Third


### 'JUST DO IT!'